<p><%= "indicator_name=#{@indicator_name}" %></p>
<p><%= "id=#{@id}" %></p>
<p><%= "start=#{@start}" %></p>
<p><%= "end=#{@end}" %></p>
<p><%= "succ=#{@succ}" %></p>
<p><%= "msg=#{@msg}" %></p>
<p><%= "chart_url=#{@chart_url}" %></p>
<p><img src="<%= @chart_url %>"/></p>
