<!DOCTYPE html>
<html>
<head>
  <title>Guustock Indicator Charts for 缠中说禅</title>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "highstock.js" %>
  <%= javascript_include_tag "modules/exporting.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
